.App {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.content {
  flex: 1;
  position: relative;
  transition: margin-left 0.3s ease; 
  margin-left: 0; 
  margin-right: -100px;
  width: calc(100% - 100px);
  background-color: white;
}

.sidebar {
  flex: 0 0 100px;
  background-color: #f2f2f2;
  padding: 0px;
  transition: transform 0.3s ease;
  transform: translateX(-100px);
  color: #333;
  margin-right: -100px;
}

.sidebar.open {
  transform: translateX(0);
}
.sidebar.open + .content {
  margin-left: 100px; 
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.sidebar li {
  margin-bottom: 10px;
  text-align: center;
}

.sidebar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.sidebar a:hover {
  color: #000;
}

.menu-toggle {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px; 
  width: 40px; 
  height: 40px;  
  z-index: 1; 
}

.nav-open .menu-toggle {
  display: none;
}

.sidebar .menu-toggle {
  position: static;
  margin-bottom: 10px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

